/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1, h2, h3 {
  color: rgb(211, 154, 9);
  align-self: center;
}

body {
  margin: 0% auto;
}

.letter-list {
  display: inline-flex;
  margin: 5px;
  list-style: none;
  padding-left: 0%;
}

.letter-tile {
  display: inline;
  color: black;
  background-color: whitesmoke;
  margin: 3px;
  padding: 3px;
  min-width: 10px;
  border: 1px solid black;
  border-radius: 2px;
}

.container {
  width: 600px;
  margin: 0% auto;
  text-align: center;
  justify-content: center;
}

.btn-submit {
  background-color: rgb(211, 154, 9);
  padding: 5px 10px;
  border-radius: 2px;
  border: none;
}

.input-user {
  background-color: whitesmoke;
  border-radius: 2px;
  border: none;
  padding: 5px;
}
